VITE_APPWRITE_URL="https://fra.cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="69bc23ee0006659252e8"
VITE_APPWRITE_DATABASE_ID="69bc28f1002728d80257"
VITE_APPWRITE_COLLECTION_ID="articles"
VITE_APPWRITE_BUCKET_ID="69be65390032c77ca91c"